@import url(./span.css);
.subHeading h4,input{
    display: inline;
}

.subHeading input{
    border: black 1px solid;
}

.age_Input input{
    display: inline;
    border: black 1px solid;
}

.lecture_checkbox{
    display: inline;
}

#textArea{
    
    margin-top: 15px;
    width: 500px;
    height: 120px;
    border: black 1px solid;
    vertical-align: top;
    text-align: left;
}


.letterBox button{
    display: inline;
    vertical-align: bottom;
}

p{
    background-color: red;
    color: white;
}

h3{
    background-color: black;
    color:white
}