.d-block{
    /* display: block; */
    background-color: blueviolet;
    border : 1px solid black;
    width: 100px;
    height: calc(50vw - 10px);
    padding: 30px;
}

.d-inline{
    /* display: inline; */
    background-color: red;
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    /* inline은 width,height 안먹는다 */
    margin: 20px;
    padding: 30px;
    /* padding은 배경색만 밀어냄. 의미가 없으니 쓰지말자 */
}

.d-inline-block{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: green;
    /* margin: 20px; */
    /* padding: 30px; */
    padding: 10px 40px;
}

