@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.sentences{
    font-weight: 700;
    text-decoration: underline; /* line-through: 중간글 */
    line-height: 2;
    font-family: 'Gugi', cursive;
}

a{
    text-decoration: none; 
    /* 밑글 없애기 */
    color: black;
}

body{
    font-family: 'Dovemayo_gothic';
    /* 글씨체 여러개 복붙가능(앞에거 없으면 뒤에거 써줘) */
}