<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdn.socket.io/4.6.0/socket.io.min.js"
      integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
      crossorigin="anonymous"
    ></script>
    <script src="/static/index.js" defer></script>
  </head>
  <body>
    <h1 id="title"></h1>
    <button type="button" id="hello" onclick="msg_hello();">hello</button>
    <button type="button" id="study" onclick="msg_study();">study</button>
    <button type="button" id="bye" onclick="msg_bye();">bye</button>
  </body>
</html>
