<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습 | Login</title>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/static/login.css" />
  </head>
  <body>
    <div class="login-box">
      <h1>로그인</h1>
      <p>
        참고! 정답 아이디는 <b>banana</b> 이고<br />
        비밀번호는 <b>1234</b> 입니다.
      </p>

      <form action="/login" method="POST">
        <div class="input-group mb-3">
          <span class="input-group-text" id="id">ID</span>
          <input
            type="text"
            class="form-control"
            aria-label="id input"
            aria-describedby="id"
            name="id"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="pw">PW</span>
          <input
            type="password"
            class="form-control"
            aria-label="pw input"
            aria-describedby="pw"
            name="pw"
          />
        </div>

        <button type="submit" class="btn btn-dark">Login</button>
        <br />
        <a href="/session_practice">Home 이동하기</a>
      </form>
    </div>
  </body>
</html>
