<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>실습1.get으로 정보받기</h1>
    <form name="register">
      이름<input name="name" type="text" />

      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" value="male" />
        <label for="male">남자</label>
        <input type="radio" name="gender" value="female" />
        <label for="female">여자</label>
      </fieldset>

      <fieldset>
        <legend>생년월일</legend>
        <select name="year" id="year">
          <option value="2010">2010</option>

          <option value="2009">2009</option>

          <option value="2008">2008</option>

          <option value="2007">2007</option>

          <option value="2006">2006</option>

          <option value="2005">2005</option>

          <option value="2004">2004</option>

          <option value="2003">2003</option>

          <option value="2002">2002</option>

          <option value="2001">2001</option>

          <option value="2000">2000</option>

          <option value="1999">1999</option>

          <option value="1998">1998</option>

          <option value="1997">1997</option>

          <option value="1996">1996</option>

          <option value="1995">1995</option>

          <option value="1994">1994</option>

          <option value="1993">1993</option>

          <option value="1992">1992</option>

          <option value="1991">1991</option>

          <option value="1990">1990</option>

          <option value="1989">1989</option>

          <option value="1988">1988</option>

          <option value="1987">1987</option>

          <option value="1986">1986</option>

          <option value="1985">1985</option>

          <option value="1984">1984</option>

          <option value="1983">1983</option>

          <option value="1982">1982</option>

          <option value="1981">1981</option>

          <option value="1980">1980</option>

          <option value="1979">1979</option>

          <option value="1978">1978</option>

          <option value="1977">1977</option>

          <option value="1976">1976</option>

          <option value="1975">1975</option>

          <option value="1974">1974</option>

          <option value="1973">1973</option>

          <option value="1972">1972</option>

          <option value="1971">1971</option>

          <option value="1970">1970</option>

          <option value="1969">1969</option>

          <option value="1968">1968</option>

          <option value="1967">1967</option>

          <option value="1966">1966</option>

          <option value="1965">1965</option>

          <option value="1964">1964</option>

          <option value="1963">1963</option>

          <option value="1962">1962</option>

          <option value="1961">1961</option>
        </select>
        <label for="year">년</label>
        <select name="month" id="month">
          <option value="1">1</option>

          <option value="2">2</option>

          <option value="3">3</option>

          <option value="4">4</option>

          <option value="5">5</option>

          <option value="6">6</option>

          <option value="7">7</option>

          <option value="8">8</option>

          <option value="9">9</option>

          <option value="10">10</option>

          <option value="11">11</option>

          <option value="12">12</option>
        </select>
        <label for="month">월</label>
        <select name="day" id="day">
          <option value="1">1</option>

          <option value="2">2</option>

          <option value="3">3</option>

          <option value="4">4</option>

          <option value="5">5</option>

          <option value="6">6</option>

          <option value="7">7</option>

          <option value="8">8</option>

          <option value="9">9</option>

          <option value="10">10</option>

          <option value="11">11</option>

          <option value="12">12</option>

          <option value="13">13</option>

          <option value="14">14</option>

          <option value="15">15</option>

          <option value="16">16</option>

          <option value="17">17</option>

          <option value="18">18</option>

          <option value="19">19</option>

          <option value="20">20</option>

          <option value="21">21</option>

          <option value="22">22</option>

          <option value="23">23</option>

          <option value="24">24</option>

          <option value="25">25</option>

          <option value="26">26</option>

          <option value="27">27</option>

          <option value="28">28</option>

          <option value="29">29</option>

          <option value="30">30</option>
        </select>
        <label>일</label>
      </fieldset>

      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="hobby" value="travel" class="check" />
        <label>여행</label>
        <input type="checkbox" name="hobby" value="fashion" class="check" />
        <label>패션</label>
        <input type="checkbox" name="hobby" value="food" class="check" />
        <label>음식</label>
      </fieldset>
      <button type="button" onclick="axiosGet();">회원가입</button>
    </form>

    <form name="register2">
      <input type="text" name="id" placeholder="아이디" />
      <input type="password" name="pw" placeholder="비번" />
      <button type="button" onclick="axiosPost()">로그인</button>
    </form>
    <div class="result"></div>
    <a href="/">홈으로 이동</a>

    <script>
      function axiosGet() {
        const form = document.forms["register"];
        const resultBox = document.querySelector(".result");
        const checkBox = document.querySelectorAll(".check");
        let checkValue = [];
        for (let i = 0; i < checkBox.length; i++) {
          if (checkBox[i].checked) {
            checkValue.push(checkBox[i].value);
          }
        }

        const formInfo = {
          name: form.name.value,
          gender: form.gender.value,
          year: form.year.value,
          month: form.month.value,
          day: form.day.value,
          hobby: checkValue,
        };
        console.log(formInfo);

        axios({
          url: "/practice_axios",
          method: "GET",
          params: formInfo,
        }).then((response) => {
          console.log(response.data);
          resultBox.textContent = `${response.data.name}님 회원가입을 축하합니다`;
          resultBox.style.color = "blue";
        });
      }
      function axiosPost() {
        const form = document.forms["register2"];
        const resultBox = document.querySelector(".result");

        const formInfo = {
          id: form.id.value,
          pw: form.pw.value,
        };

        axios({
          url: "/practice_post",
          method: "POST",
          data: formInfo,
        }).then((response) => {
          if (response.data.res == "success") {
            resultBox.textContent = `${response.data.data.id}님 환영합니다!`;
            resultBox.style.color = "blue";
          } else {
            resultBox.textContent = "아이디 또는 비밀번호가 틀려요";
            resultBox.style.color = "red";
          }
        });
      }
    </script>
  </body>
</html>
