body{
    height: 2000px;
    background: linear-gradient(white,orange);
    /* 그라데이션 */
}

/* div{
    width: 100px;
    height: 100px;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
} */

.position-static{
    background-color: pink;
    top: 100px;
    left: 50px;
}

.position-relative{
    background-color: aqua;
    position: relative;
    top: 150px;
    left: 100px;
}

.position-absolute{
    background-color: gold;
    position: absolute;
    /* view 포트 기준 */
    top: 0px;
    left: 0px;
    opacity: 0.3;
    /* absolute는 static이 아닌 relative를 기준으로 움직인다 */
}

.position-fixed{
    background-color: beige;
    position: fixed;
    /* 고정됨 */
    width: 100%;
    top: 0;
    left: 0;
}
.container{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: green;
}

.item1{
    background-color: blue;
    position: relative;
    left: 50px;
    top: 30px;
}

.item2{
    background-color: purple;
    position: absolute;
    right: 30px;
    bottom: 100px;
}

.item3{
    background-color: pink;
    position: fixed;
    right: 100px;
    top: 100px;
}

/* z index는 static일때 적용안됨 */
/* position absolute fixed로 지정된 요소는 block으로 변경 */