/* transition VS animation
   transition
   - 전환될 "스타일"을 지정
   - 어떤 event에 대해서 발생(hover, active, onClick등)
   
   animation
   - 중간 step 지정 가능: 보다 세밀한 스타일 전환 지정 가능
   - 정지, 반복, 시작 동작 가능
   - @keyframes로 이루어짐

*/

.box{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    position: relative;
    animation-name: my_ani;
    animation-duration: 2s;
    animation-iteration-count: infinite; 
    animation-delay: 2s;
    animation-timing-function: ease;
}

@keyframes my_ani {
    0%{
        left: 0px;
    }

    25%{
        left: 200px;
    }
    50%{
        left: 400px;
    }
    75%{
        left: 200px;
    }
    100%{
        left: 0px;
    }
}

.bounce_ball1{
    position: relative;
    left: 100px;
    top: 0;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    animation-name: bounce1;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bounce1 {
    to{
        top:0px;
        animation-timing-function: ease-out; /* 속도를 줄임 */
    }
    from{
        top: 300px;
    }
}



.bounce_ball2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;  /* 부모기준 */
    animation: bounce2 infinite 2s ease-out;
}

@keyframes bounce2 {
    to,from{
        bottom: 0;
        animation-timing-function: ease-out;
    }

    50%{
        bottom: 300px;
        animation-timing-function: ease-in; /* 속도가 빨라짐 */
    }
}